$color-button: #fff;
$color-button-hover: #00acdc;
$color-background: rgba(243, 243, 243, 1);
$main-color: #060b35;
$main-transition: transform 0.3s ease;
$main-transition2: transform color 0.3s;
$main-transition3: transform background-color 0.3s;
$main-transform: scale(1.2);
